*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(4, 4, 20);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameContainer{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
fieldset{
  width: 50%;
  height: 250px;
  margin-top: 80px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

legend{
  font-style: oblique;
  font-size: 25px;
  font-weight: bolder;
}

.click{
  width: 100px;
  height: 100px;
  margin-left: 25px;
  margin-right: 25px;
}

.click1{
  width: 100px;
  height: 100px;
  margin-left: 25px;
  margin-right: 25px;
}

.click2{
  width: 100px;
  height: 100px;
  margin-left: 25px;
  margin-right: 25px;
}

.results{
  width: 70%;
  height: 100px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(14, 25, 49);
  border-radius: 15px;
}

.result p{
  width: 50%;
  height: 30px;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 10px;
  margin-right: 60px;
  background-color: rgb(235, 235, 241);
  color: black;
  opacity: 0.4;
}

.compresult{
  width: 50%;
  height: 30px;
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 10px;
  margin-left: 25px;
  background-color: rgb(235, 235, 241);
  opacity: 0.4;
}

.text{
  color: rgb(5, 2, 2);
}

i{
  font-size: 60px;
}

.score{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(113, 94, 219);
}

.reset{
  width: 50px;
  height: 60px;
  border-radius: 15px;
}

.reset, i{
  width: 20px;
  height: 30px;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .gameContainer {
    width: 100%;
  }

  fieldset {
    width: 95%;
    height: auto;
    margin-top: 40px;
    padding: 20px;
  }

  legend {
    font-size: 18px;
  }

  .click,
  .click1,
  .click2 {
    width: 70px;
    height: 70px;
    margin: 10px;
  }

  i {
    font-size: 40px;
  }

  .results {
    width: 95%;
    height: auto;
    flex-direction: column;
    padding: 10px;
  }

  .result p,
  .compresult {
    width: 90%;
    margin: 5px 0;
    height: auto;
    font-size: 14px;
  }

  .score {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .reset {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .gameContainer {
    width: 100%;
  }

  fieldset {
    width: 95%;
    height: auto;
    margin-top: 40px;
    padding: 20px;
  }

  legend {
    font-size: 18px;
  }

  .click,
  .click1,
  .click2 {
    width: 70px;
    height: 70px;
    margin: 10px;
  }

  i {
    font-size: 40px;
  }

  .results {
    width: 95%;
    height: auto;
    flex-direction: column;
    padding: 10px;
  }

  .result p,
  .compresult {
    width: 90%;
    margin: 5px 0;
    height: auto;
    font-size: 14px;
  }

  .score {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .reset {
    width: 40px;
    height: 40px;
  }
}
